@model RoleViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Sửa chức vụ</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group mb-3">
            <label class="control-label col-md-2">Tên chức vụ</label>
            <div class="col-md-5">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="w-100 d-flex flex-row mt-3">

                <div class="w-auto mr-1">

                    <input type="submit" value="Sửa" class="btn btn-success" />
                </div>
                <div class=" float-right w-auto btn btn btn-light ml-2">
                    <a style="text-decoration: none; color: black" href="@Url.Action("Index", "RolesAdmin")">Trở về</a>
                </div>
            </div>
        </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
