@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "Quản lý chức vụ";
}
<div class="d-flex flex-row">
    <h1 class="h3 mb-2 text-gray-800">Danh sách chức vụ</h1>
    <a class="btn btn-primary btn-icon-split btn-sm ml-auto h-100  btn-success" href="@Url.Action("Create", "RolesAdmin")">
        <span class="text">Tạo mới</span>
    </a>
</div>
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tên</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>
                                <form action="@Url.Action("Delete", "RolesAdmin", new { id = item.Id })" method="post">
                                    <a class="btn btn-primary btn-icon-split btn-sm" href="@Url.Action("Edit", "RolesAdmin", new { id = item.Id })">
                                        <span class="text">Sửa</span>
                                    </a>
                                    <button type="submit"  data-toggle="modal" data-target="#deleteTable" onclick="deleteRole(@item.Id)"
                                            @*onclick="return confirm('Bạn có muốn xóa @item.Name này?')"*@
                                            class="btn btn-primary btn-icon-split btn-sm"><span class="text">Xoá</span></button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



