@model LoginViewModel

@{
    ViewBag.Title = "Đăng nhập";
}

<div class="login-register-area mt-5">
    <div class="container custom-area">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-custom">
                <div class="login-register-wrapper">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="section-content text-center mb-5">
                            <h2 class="title-4 mb-2">Đăng nhập</h2>
                            <p class="desc-content">Làm ơn đăng nhập theo những thông tin phía dưới</p>
                        </div>
                        <div class="single-input-item mb-3">
                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Tên đăng nhập" })
                        </div>
                        <div class="single-input-item mb-3">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Mật khẩu" })
                        </div>
                        <div class="single-input-item mb-3">
                            <div class="login-reg-form-meta d-flex align-items-center justify-content-between">
                                <div class="remember-meta mb-3">
                                </div>
                                <a href="@Url.Action("ForgotPassword", "Account", new {area = ""})" class="forget-pwd mb-3">Quên mật khẩu</a>
                            </div>
                        </div>
                        <div class="single-input-item mb-3">
                            <input type="submit" class="btn flosun-button secondary-btn theme-color rounded-0" value="Đăng nhập">
                        </div>
                        <div class="single-input-item">
                            <a href="@Url.Action("Register", "Account", new {area = ""})">Tạo tài khoản</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

    @Scripts.Render("~/bundles/jqueryval")
}
