@model EditUserViewModel

@{
    ViewBag.Title = "Sửa";
}

<h2>Sửa người dùng</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group d-flex flex-row">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-1 " })
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control w-50", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
        <div class="form-group d-flex flex-row ">
            @Html.Label("Roles", new { @class = "control-label col-md-1 " })
            <span class=" col-md-10 d-flex flex-column">
                @foreach (var item in Model.RolesList)
                {
                    <input type="checkbox" name="SelectedRole" value="@item.Value" checked="@item.Selected" class="checkbox-inline" />
                    @Html.Label(item.Value, new { @class = "control-label" })
                }
            </span>
        </div>

        <div class="w-100 d-flex flex-row mt-3">

            <div class="w-auto mr-1">

                <input type="submit" value="Sửa" class="btn btn-success" />
            </div>
            <div class=" float-right w-auto btn btn btn-light ml-2">
                <a style="text-decoration: none; color: black" href="@Url.Action("Index", "UsersAdmin")">Trở về</a>
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
