@model IEnumerable<Category>
@{ int i = 0;}

@foreach (var item in Model)
{
    <div class="shop-collection-area gray-bg pt-no-text pb-no-text">
        <div class="container custom-area">
            @if (i % 2 == 0)
            {
                <div class="row mb-30">
                    <div class="col-md-6 col-custom">
                        <div class="collection-content">
                            <div class="section-title text-left">
                                <span class="section-title-1" style="font-size:30px">@item.Name</span>
                            </div>
                            <div class="desc-content">
                                @Html.Action("GetFoodByCate", new { cateId = item.Id })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-custom">
                        <!--Single Banner Area Start-->
                        <div class="single-banner hover-style">
                            <div class="banner-img">
                                <img src="~/assets/images/category/@item.Image" alt="">
                                <div class="overlay-1"></div>
                            </div>
                        </div>
                        <!--Single Banner Area End-->
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-md-6 col-custom order-2 order-md-1">
                        <!--Single Banner Area Start-->
                        <div class="single-banner hover-style">
                            <div class="banner-img">
                                <img src="~/assets/images/category/@item.Image" alt="">
                                <div class="overlay-1"></div>
                            </div>
                        </div>
                        <!--Single Banner Area End-->
                    </div>
                    <div class="col-md-6 col-custom order-1 order-md-2">
                        <div class="collection-content">
                            <div class="section-title text-left">
                                <span class="section-title-1" style="font-size:30px">@item.Name</span>
                            </div>
                            <div class="desc-content">
                                @Html.Action("GetFoodByCate", new { cateId = item.Id })
                            </div>
                        </div>
                    </div>
                </div>
            }
        <p style="display:none"> @(i++)</p>
        </div>
    </div>
   
}

