@model IEnumerable<Table>
@{
    string floorId = "floor-";
    string floorHref = "#floor-";
    string floorTab = "floor-tab";
    var tables = new List<Table>();


    foreach (var item in Model)
    {
        tables.Add(item);
    }

    var listFloor = new List<int>();
    for (int f = 0; f < tables.Count() - 1; f++)
    {
        listFloor.Add(tables[f].Floor);
    }

    var listFloorNoDup = listFloor.Distinct().OrderBy(x => x).ToList();
}
<div class="col">
    <div class="booking-box">
        <div class="comment-box">
            <h5 class="text-uppercase">Chọn bàn</h5>
            <div class="tab-content mb-text display-flex-col" id="myTabContent">
                <ul class="nav nav-tabs nav-menu-custom nav-tabs-floor-booking" id="myTab" role="tablist">
                    @for (int i = 0; i < listFloorNoDup.Count(); i++)
                    {
                        if (listFloorNoDup[i] == 1)
                        {
                            <li class="nav-item">
                                <a class="nav-link active text-uppercase" id="@(floorTab + listFloorNoDup[i])" data-toggle="tab" href="@(floorHref + listFloorNoDup[i])" role="tab" aria-selected="true">Tầng @listFloorNoDup[i]</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-uppercase" id="@(floorTab + listFloorNoDup[i])" data-toggle="tab" href="@(floorHref + listFloorNoDup[i])" role="tab" aria-selected="false">Tầng @listFloorNoDup[i]</a>
                            </li>
                        }
                    }
                </ul>
                @for (int i = 0; i < listFloorNoDup.Count(); i++)
                {
                    if (listFloorNoDup[i] == 1)
                    {
                        <div class="tab-pane fade show active display-flex-col" id="@(floorId + listFloorNoDup[i])" role="tabpanel" aria-labelledby="@(floorTab + listFloorNoDup[i])">
                            <div class="contructor-floor">
                                <div class="object recepter-style">
                                    Cửa ra vào | Lễ tân
                                </div>

                                <div class="object window-style-left window-1">
                                    |
                                </div>
                                <div class="object window-style-left window-2">
                                    |
                                </div>
                                <div class="object window-style-left window-3">
                                    |
                                </div>
                                <div class="object window-style-left window-4">
                                    |
                                </div>
                                <div class="object window-style-left window-5">
                                    |
                                </div>
                                
                                @Html.Action("GetTablesByCapacity", "Table", new {floor = listFloorNoDup[i] })
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="tab-pane fade display-flex-col" id="@(floorId + listFloorNoDup[i])" role="tabpanel" aria-labelledby="@(floorTab + listFloorNoDup[i])">
                            <div class="contructor-floor">

                                <div class="object window-style-left window-1">
                                    |
                                </div>
                                <div class="object window-style-left window-2">
                                    |
                                </div>
                                <div class="object window-style-left window-3">
                                    |
                                </div>
                                <div class="object window-style-left window-4">
                                    |
                                </div>
                                <div class="object window-style-left window-5">
                                    |
                                </div>
                                @Html.Action("GetTablesByCapacity", "Table", new { floor = listFloorNoDup[i] })
                            </div>
                        </div>
                    }

                }
            </div>
        </div>
    </div>
</div>



