@model AccountDetailViewModel
@{
    ViewBag.Title = "Trang cá nhân";
}

<div class="my-account-wrapper mt-5">
    <div class="container container-default-2 custom-area">
        <div class="row">
            <div class="col-lg-12 col-custom">
                <!-- My Account Page Start -->
                <div class="myaccount-page-wrapper">
                    <!-- My Account Tab Menu Start -->
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-custom">
                            <div class="myaccount-tab-menu nav" role="tablist">
                                <a href="#orders" data-toggle="tab"><i class="fa fa-cart-arrow-down"></i> Lịch sử đặt bàn</a>
                                <a href="#account-info" data-toggle="tab"><i class="fa fa-user"></i> Thông tin tài khoản</a>
                                <form id="logoutForm" action="@Url.Action("LogOff", "Account", new { area = "" })" , method="post">
                                    @Html.AntiForgeryToken()
                                    <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i> Đăng xuất</a>
                                </form>
                            </div>
                        </div>
                        <!-- My Account Tab Menu End -->
                        <!-- My Account Tab Content Start -->

                        <div class="col-lg-9 col-md-8 col-custom">
                            <div class="tab-content" id="myaccountContent">
                                <!-- Single Tab Content Start -->
                                @Html.Action("History", "Reservation")
                                <!-- Single Tab Content End -->
                                <div class="tab-pane fade" id="account-info" role="tabpanel">
                                    <div class="myaccount-content">
                                        <h3>Thông tin tài khoản</h3>
                                        <div class="account-details-form">
                                            <form action="@Url.Action("Index", "Manage", new {area=""})" method="post">
                                                <div class="row">
                                                    @Html.AntiForgeryToken()
                                                    @Html.HiddenFor(m => m.UserId)
                                                    <div class="col-lg-6 col-custom">
                                                        <div class="single-input-item mb-3">
                                                            <label for="full-name" class="required mb-1">Tên đầy đủ</label>
                                                            <input type="text" name="Fullname" id="full-name" placeholder="Tên đầy đủ" value="@Model.FullName" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-custom">
                                                        <div class="single-input-item mb-3">
                                                            <label for="Username" class="required mb-1">Tên đăng nhập</label>
                                                            <input type="text" id="Username" name="Username" disabled value="@Model.Username" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="single-input-item mb-3">
                                                    <label for="PhoneNumber" class="required mb-1">Số điện thoại</label>
                                                    <input type="text" id="PhoneNumber" name="PhoneNumber" placeholder="Số điện thoại" value="@Model.PhoneNumber" />
                                                </div>
                                                <div class="single-input-item mb-3">
                                                    <label for="email" class="required mb-1">Email</label>
                                                    <input type="email" id="email" name="Email" placeholder="Email" value="@Model.Email" />
                                                </div>
                                                <div class="single-input-item mb-3" style="width: fit-content">
                                                    <label id="modalBtn" class="required mb-1">

                                                        Level: @(Model.Level == 0 ? Html.Raw("<img src=\"/assets/images/Level/0.png\" ></img>")
                                                               : Model.Level >= 1 ? Html.Raw("<img src=\"/assets/images/Level/1.png\" ></img>")
                                                               : Model.Level >= 15 ? Html.Raw("<img src=\"/assets/images/Level/2.png\" ></img>")
                                                               : Model.Level >= 30 ? Html.Raw("<img src=\"/assets/images/Level/3.png\" ></img>")
                                                               : Model.Level >= 50 ? Html.Raw("<img src=\"/assets/images/Level/4.png\" ></img>")
                                                               : Model.Level >= 80 ? Html.Raw("<img src=\"~/assets/images/Level/5.png\"></img>")
                                                               : Html.Raw("<img src=\"~/assets/images/Level/5.png\"></img>"))
                                                    </label>
                                                </div>
                                                <div class="single-input-item single-item-button">
                                                    <button class="btn flosun-button secondary-btn theme-color  rounded-0">Thay đổi</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Tab Content End -->
                            </div>
                        </div>
                        <!-- My Account Tab Content End -->
                    </div>
                </div>
                <!-- My Account Page End -->
            </div>
        </div>
    </div>
    <div class="modal-lvl" id="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="modal-text">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <h2>Hệ thống Level</h2>
                        </div>

                        <div class="col-12">
                            <p style="font-weight: bold">
                                @(Model.Level == 0 ? "Bạn là người dùng mới" :
                                                                    Model.Level >= 1 ? "Bạn đang ở Level 1" :
                                                                    Model.Level >= 15 ? "Bạn đang ở Level 2" :
                                                                    Model.Level >= 30 ? "Bạn đang ở Level 3" :
                                                                    Model.Level >= 50 ? "Bạn đang ở Level 4" :
                                                                    Model.Level >= 80 ? "Bạn đang ở Level 5" : "Bạn đang ở Level 5")
                            </p>
                            <p>Khi đặt và đến ăn: </p>
                            <p>
                                15 bàn bạn sẽ lên level 2
                            </p>
                            <p>
                                30 bàn bạn sẽ lên level 3
                            </p>
                            <p> 50 bàn bạn sẽ lên level 4</p>
                            <p>
                                80 bàn bạn sẽ lên level 5
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
@section scripts{
    <script>
        const $ = document.querySelector.bind(document);
        const $$ = document.querySelectorAll.bind(document);
        const app = {
            modalF: () => {
                var modal = $("#modal");
                var btn = $("#modalBtn");
                var close = $(".close");
                btn.onclick = () => {
                    modal.style.display = "block"
                }
                close.onclick = () => {
                    modal.style.display = "none"
                }
                window.onclick = e => {
                    if (e.target == modal) {
                        modal.style.display = "none"
                    }
                }
            }
        }
        app.modalF();
    </script>
}