@model MenuViewModel
@{
    ViewBag.Title = "Tạo Thực Đơn";
}

<h2>Tạo Thực Đơn</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal d-flex flex-column">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group col-md-6">
            Tên menu
            <div>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tên Menu" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6">
            Giá
            <div>
                <input class="form-control text-box single-line" data-val="true"
                       data-val-range="Vui lòng nhập giá trị lớn hơn 1" data-val-range-max="1000000000000" data-val-range-min="1" 
                       data-val-required="Giá không được bỏ trống" id="Price" name="Price" placeholder="Giá" type="number" value="0">
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
            
        </div>

        <div class="form-group col-md-6">
            <label class="control-label" for="Menu">Danh mục</label>
            <div class="">
                @Html.ListBoxFor(model => model.SelectedCategoryIds, Model.Categories, new { @class = "select-multiple", @required = "required", style = "width:100%" })
            </div>
        </div>

        <div class="form-group form-button mt-4 col-md-12">
            <input type="submit" name="signup" id="signup" class="btn btn-success" value="Tạo" />
            @Html.ActionLink("Trở Về", "Index", null, new { @class = "btn btn-light ml-2" })
        </div>
    </div>
}

@section scripts{
    <script src="~/Assets/js/customize.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
}