@model IEnumerable<Reservation>
@{
    int j = 1;
}

<div class="tab-pane fade" id="orders" role="tabpanel">
    <div class="myaccount-content">
        <h3>Đơn đặt bàn</h3>
        <div class="myaccount-table table-responsive text-center">
            <div class="display-flex-col" width="100%" cellspacing="0">
                <div>
                    <div class="row mb-3 w-100">
                        <div class="col">STT</div>
                        <div class="col">Ngày</div>
                        <div class="col">Trạng thái</div>
                        <div class="col">Số lượng bàn</div>
                        <div class="col">Thao tác</div>
                    </div>
                </div>
                <div class=" overflow-auto" style="max-height:400px ">
                    @foreach (var item in Model)
                    {
                        <div class="row mb-3 w-100">
                            <div class="col">@j</div>
                            <div class="col">@item.ReservationDate.ToString("dd/MM/yyyy")</div>
                            <div class="col">@(item.Status == 0 ? "Mới" : item.Status == 1 ? "Khách đã đến" : item.Status == 2 ? "Hoàn thành" : "Huỷ đặt bàn" )</div>
                            <div class="col ">@item.Capacity</div>
                            <div class="col "><a href="@Url.Action("Details", "Reservation", new {id = item.Id})" class="btn flosun-button secondary-btn theme-color  rounded-0">Xem</a></div>


                        </div>
                        <p style="display: none">@(j++)</p>
                    }

                </div>



            </div>
        </div>
    </div>
</div>
