@model IEnumerable<Reservation>
@{
    int j = 1;
}

<div class="tab-pane fade show active" id="orders" role="tabpanel">
    <div class="myaccount-content">
        <h3>Đơn đặt bàn</h3>
        <div class="myaccount-table table-responsive text-center">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Ngày</th>
                        <th>Trạng thái</th>
                        <th>Số lượng bàn</th>
                        <th> Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@j</td>
                            <td>@item.ReservationDate.ToString("dd/MM/yyyy")</td>
                            <td>@(item.Status == 0 ? "Mới" : item.Status == 1 ? "Khách đã đến" : item.Status == 2 ? "Hoàn thành" : "Huỷ đặt bàn" )</td>
                            <td>@item.Capacity</td>
                            <td><a href="@Url.Action("Details", "Reservation", new {id = item.Id})" class="btn flosun-button secondary-btn theme-color  rounded-0">Xem</a></td>
                            <p style="display: none">@(j++)</p>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
