@model ReservationViewModel
@{
    ViewBag.Title = "Đặt Bàn";
    var now = DateTime.Now;
    int nextHour = now.Hour + 1;

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
}

<div class="contact-us-area mt-5">
    <div class="container custom-area col">
        <div class="row">
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("Index", "Reservation", FormMethod.Post, new { @class = "row", role = "form" }))
                {
                    <div class="col">
                        <div class="booking-box">

                            @Html.AntiForgeryToken()
                            <div class="comment-box">
                                <h5 class="text-uppercase">Đặt bàn</h5>
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="col mt-3">
                                <div class="col-md-12 col-custom">
                                    <div class="input-item mb-4">
                                        <div class="title-booking">Tên khách hàng</div>
                                        @Html.TextBoxFor(m => m.CusName, new { @class = "form-control", @readonly = "readonly", @placeholder = "Tên" })
                                    </div>
                                </div>
                                <div class="col-md-12 col-custom">
                                    <div class="input-item mb-4">
                                        <div class="title-booking">Số điện thoại</div>
                                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control",@readonly = "readonly", @placeholder = "Số điện thoại" })
                                    </div>
                                </div>
                                <div class="col-12 col-custom">
                                    <div class="input-item mb-4">
                                        <div class="title-booking">Chọn Combo</div>
                                        @Html.DropDownList("MenuId", null, htmlAttributes: new { @class = "form-select select-single" })
                                        @Html.ValidationMessageFor(model => model.MenuId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-12 col-custom">
                                    <div class="input-item mb-4">
                                        <div class="title-booking">Thời gian dùng bữa</div>
                                        @Html.EditorFor(m => m.ReservationDate, new { htmlAttributes = new { @class = "border-0 rounded-0 w-100 input-area email gray-bg", @disabled = "disabled" } })
                                    </div>
                                </div>
                                <div class="col-12 col-custom">
                                    <div class="input-item mb-4 display-flex-col">

                                        <div class="title-booking">Chọn thời gian đến</div>
                                        @*@if(now.Hour >)*@
                                        <div class="display-flex-row">
                                            <div class="title-time">Giờ</div>
                                            <select class="form-select select-time" aria-label="Default select example" name="Hours" aria-placeholder="Chọn giờ">
                                                @if (now.Hour <= 14)
                                                {
                                                    if (now.Hour < 11)
                                                    {
                                                        for (int i = 11; i <= 14; i++)
                                                        {
                                                            <option value="@i">@i h</option>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        for (int i = now.Hour; i <= 14; i++)
                                                        {
                                                            <option value="@i">@i h</option>
                                                        }
                                                    }

                                                }
                                                else if (now.Hour > 14)
                                                {
                                                    if (now.Hour < 18)
                                                    {
                                                        for (int i = 18; i <= 21; i++)
                                                        {
                                                            if (now.Hour <= i)
                                                            {
                                                                <option value="@i">@i</option>
                                                            }
                                                        }
                                                    }
                                                    else
                                                    {
                                                        for (int i = now.Hour; i <= 21; i++)
                                                        {
                                                            if (now.Hour <= i)
                                                            {
                                                                <option value="@i">@i</option>
                                                            }
                                                        }
                                                    }

                                                }
                                            </select>
                                            <div class="title-time">Phút</div>
                                            <select class="form-select select-time" aria-label="Default select example" name="Minute" aria-placeholder="Chọn giờ">
                                                <option value="00">00</option>
                                                <option value="15">15</option>
                                                <option value="30">30</option>
                                                <option value="45">45</option>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-12 col-custom">
                                    <div class="input-item mb-4">
                                        <div class="title-booking">Mã ưu đãi của bạn</div>
                                        @Html.DropDownList("CodeId", null, htmlAttributes: new { @class = "form-select select-single" })
                                        @Html.ValidationMessageFor(model => model.CodeId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-12 col-custom">
                                    <div class="input-item mb-4">
                                        <div class="title-booking">Ghi chú thêm cho nhà hàng: </div>
                                        @Html.TextAreaFor(m => m.Note, new { @class = "border-0 rounded-0 w-100 input-area name gray-bg" })
                                    </div>
                                </div>
                                <div class="col-12 col-custom mt-40">
                                    @*@if (DateTime.Now.Hour <= 22)
                                    {*@
                                        <button type="submit" id="submit" name="submit" class="btn flosun-button secondary-btn theme-color rounded-0">
                                            Đặt
                                            bàn
                                        </button>
                                    }
                                </div>
                            </div>
                            </div>

                        </div>
                    </div>
                    @Html.Action("GetAll", "Table")
                }
            }
            else
            {
                <div class="col">
                    <div class="booking-box">
                        <div class="comment-box">
                            <h5 class="text-uppercase">Vui lòng đăng nhập để đặt bàn</h5>
                            @Html.ActionLink("Đăng Nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn flosun-button secondary-btn theme-color rounded-0" })
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Assets/js/customize.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        const capa = document.getElementById("capa");
        /*const count = document.querySelectorAll("#count");*/
        /*Array.from(count);*/
        const arr = [...document.querySelectorAll(".object #count")]
        console.log(capa)
        function handleChangeCount() {
            const check = capa.value;
            if (check != "") {
                for (var i = 0; i < arr.length; i++) {
                    
                    if (parseInt(check) < 1) {
                        arr[i].offsetParent.childNodes[1].setAttribute('disabled', '');
                    } else if (parseInt(check) > parseInt(arr[i].textContent)) {
                        arr[i].offsetParent.childNodes[1].setAttribute('disabled', '');
                    }
                }
            }
            else {
                for (var i = 0; i < arr.length; i++) {
                    if (parseInt(arr[i].textContent) > 0) {
                        arr[i].offsetParent.childNodes[1].removeAttribute('disabled', '');
                    }
                }
                
            }
        }
        $(function () {
            var hubNotify = $.connection.tableHub;
            $.connection.hub.logging = true;

            $.connection.hub.start();
            hubNotify.client.refreshAllTable = function () {
                refreshTable();
            };
        });
        function refreshTable() {
            $.ajax({
                url: '/Table/GetAll',
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function(result) {
                    document.getElementById("col-signal").innerHTML = result;
                }
            })
        }
    </script>
}
