@model ReservationViewModel
@{
    ViewBag.Title = "Đặt Bàn";
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />
}

<div class="breadcrumbs-area position-relative">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-content position-relative section-content">
                    <h3 class="title-3">Đặt bàn</h3>
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                        <li>Đặt bàn</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="shop-collection-area gray-bg pt-no-text pb-no-text">
    <div class="container custom-area">
        <div class="row mb-30">
            <div class="col-md-6">
                @using (Html.BeginForm("Index", "Reservation", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.CusName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.CusName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Chọn combo bạn muốn</label>
                        <div>
                            @Html.DropDownList("MenuId", null, htmlAttributes: new { @class = "select-single", style = "width: 160%" })
                            @Html.ValidationMessageFor(model => model.MenuId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ReservationDate, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(m => m.ReservationDate, new { htmlAttributes = new { @class = "form-control" }, id = "ReservationDate" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Hours, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Hours, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Minute, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Minute, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Adult, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Adult, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Child, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Child, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Note, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Note, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-success" value="Đặt bàn" />
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-3">
                @Html.Action("GetAll", "Table")
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Assets/js/customize.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $("#ReservationDate").datepicker({
                dateFormat: 'dd/mm/yy', changeMonth: true,
                changeYear: true, yearRange: "2022:2032", currentText: "Now"
            });
        });</script>
}