@model IEnumerable<Menu>
@{
    string menu = "#menuId";
    string tabSelect = "menuId";
   
    List<Menu> menuArray = new List<Menu>();

    foreach (var item in Model)
    {
        menuArray.Add(item);
    }

}


@{
    ViewBag.Title = "Thực Đơn";
}
<div class="container container-default custom-area body-custom-menu">
    <div class="row">
        <div class="col-lg-12 col-custom">
            <div class="tab-content mb-text" id="myTabContent">
                <ul class="nav nav-tabs nav-menu-custom w-50" id="myTab" role="tablist">
                    @for (int i = 0; i < menuArray.Count(); i++)
                    {
                        if (menuArray[i].Id == 1)
                        {
                            <li class="nav-item">
                                <a class="nav-link active text-uppercase" id="@(menu + menuArray[i].Id)" data-toggle="tab" href="@(menu + menuArray[i].Id)" role="tab" aria-selected="true">@menuArray[i].Name</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-uppercase" id="@(menu + menuArray[i].Id)" data-toggle="tab" href="@(menu + menuArray[i].Id)" role="tab" aria-selected="false">@menuArray[i].Name</a>
                            </li>
                        }

                    }
                </ul>
                @for (int i = 0; i < menuArray.Count(); i++)
                {
                    if (menuArray[i].Id == 1)
                    {
                        <div class="tab-pane fade show active" id="@(tabSelect + menuArray[i].Id)" role="tabpanel" aria-labelledby="@(menu + menuArray[i].Id)">
                            @Html.Action("GetCategoryByMenu", "Menu", new { menuId = menuArray[i].Id })
                        </div>

                    }
                    else
                    {
                        <div class="tab-pane fade" id="@(tabSelect + menuArray[i].Id)" role="tabpanel" aria-labelledby="@(menu + menuArray[i].Id)">
                            @Html.Action("GetCategoryByMenu", "Menu", new { menuId = menuArray[i].Id })
                        </div>
                    }

                }

            </div>
        </div>
    </div>

</div>
