@model IEnumerable<Reservation>
@{
    int j = 1;
}
<div class="card-body shadow mb-4">
   
        <div class="table-responsive">
            <table class="table table-bordered text-center"  width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên khách hàng</th>
                        <th>Số điện thoại</th>
                        <th>Thời gian dùng bữa</th>
                        <th>Số lượng bàn</th>
                        <th>Trạng thái</th>
                        <th>Thời gian tạo đơn</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@j</td>
                            <td>@item.Name</td>
                            <td>@item.PhoneNumber</td>
                            <td>@item.ReservationDate.ToString("dd-MM-yyyy HH:mm:ss")</td>
                            <td>@item.Capacity</td>
                            <td style="@(item.Status == 0? "Color:orange": item.Status == 1 ? "color:blue" : item.Status == 2 ? "color:green": "color:red")">@(item.Status == 0 ? "Mới" : item.Status == 1 ? "Khách đã đến" : item.Status == 2 ? "Hoàn thành" : "Huỷ đặt bàn" )</td>
                            <td>@item.InsertedAt.ToString("dd-MM-yyyy HH:mm:ss")</td>
                            <td>
                                <a class="btn btn-primary btn-icon-split btn-sm" href="@Url.Action("Edit", "ReservationAdmin", new { id = item.Id })">
                                    <span class="text">Sửa</span>
                                </a>
                                <p style="display:none">@(j++)</p>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

</div>