@model PagedList.PagedList<Food>
@{
    ViewBag.Title = "Quản lý Đồ Ăn";
}

<div class="row">
    <div class="col-md-6">
        <a href="@Url.Action("Create", "FoodAdmin")" class="btn btn-primary float-left"><span class="fas fa-plus-square"></span></a>
    </div>
</div>

    <h4>@TempData["Message"]</h4>

@if (!Model.Any())
{
    <h3 class="text-center">Không tìm thấy đồ ăn nào.</h3>
}
else
{
    <table class="table table-condensed table-bordered">
        <tr class="d-flex center-title">
            <th class="col-md-4">
                Tên
            </th>
            <th class="col-md-4">
                Giá
            </th>
            <th class="col-md-4">Quản Lý</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="d-flex center-title">
                <td class="col-md-4">
                    <a href="@Url.Action("Edit", new { id = item.Id })">
                        @item.Name
                    </a>
                </td>
                <td class="col-md-4">
                    @item.Price.ToString("N0")
                </td>
                <td class="col-md-4">
                    <form action="@Url.Action("Delete", "FoodAdmin", new { id = item.Id })" method="post">
                        <a href="@Url.Action("Edit", "FoodAdmin", new { id = item.Id })" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                        <button type="submit" onclick="return confirm('Bạn có muốn xóa Đồ Ăn @item.Name này?');" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                    </form>
                </td>
            </tr>
        }
    </table>
    <div class="row">
        <div class="col-sm-12 col-custom">
            <div class="toolbar-bottom">
                <div class="pagination">
                    @{
                        var prevDisabled = !Model.HasPreviousPage ? "disable" : "";
                        var nextDisabled = !Model.HasNextPage ? "disable" : "";
                        ViewBag.PageRange = 3;
                    }
                    <ul>
                        @for (int i = 1; i <= Model.PageCount; i++)
                        {
                            if (i >= Model.PageNumber - ViewBag.PageRange && i <= Model.PageNumber + ViewBag.PageRange)
                            {
                                <li>
                                    <a class="@(i == Model.PageNumber ? "current" : "")"
                                       href="@Url.Action("Index", "FoodAdmin", new { page = i, currentFilter = ViewData["CurrentFilter"] })">@i</a>
                                </li>
                            }
                        }
                        <li class="page-item">
                            <a href="@Url.Action("Index", "FoodAdmin", new { page = (Model.PageNumber + 1 > Model.PageCount ? Model.PageCount : Model.PageNumber + 1), currentFilter = ViewData["CurrentFilter"] })"
                               class="@nextDisabled">&gt;</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "FoodAdmin", new { page = (Model.PageCount), currentFilter = ViewData["CurrentFilter"] })"
                               class="@nextDisabled">&gt;&gt;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
