@model IEnumerable<Food>
@{
    ViewBag.Title = "Quản lý Đồ Ăn";
}
<div class="d-flex flex-row">
    <h1 class="h3 mb-2 text-gray-800">Danh sách đồ ăn</h1>
    <a class="btn btn-primary btn-icon-split btn-sm ml-auto h-100  btn-success" href="@Url.Action("Create", "FoodAdmin")">
        <span class="text">Tạo mới</span>
    </a>
</div>
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tên</th>
                        <th>Giá</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Price.ToString("N0")</td>
                            <td>
                                <form action="@Url.Action("Delete", "FoodAdmin", new { id = item.Id })" method="post">
                                    <a class="btn btn-primary btn-icon-split btn-sm" href="@Url.Action("Edit", "FoodAdmin", new { id = item.Id })">
                                        <span class="text">Sửa</span>
                                    </a>
                                    <button type="submit" onclick="return confirm('Bạn có muốn xóa @item.Name này?')" class="btn btn-primary btn-icon-split btn-sm"><span class="text">Xoá</span></button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
