@model Voucher
@{
    ViewBag.Title = ViewBag.Voucher;
}

<div class="blog-area-wrapper">
    <!-- Blog Main Area Start Here -->
    <div class="blog-main-area">
        <div class="container container-default custom-area">
            <div class="row">
                <div class="col-12 col-custom widget-mt shadow-lg p-5">
                    <!-- Blog Details wrapper Area Start -->
                    <div class="blog-post-details" style="margin-left: 20% ; width: 60% ">
                        <figure class="blog-post-thumb mb-5">
                            <img src="~/assets/images/@Model.Image" alt="Blog Image">
                        </figure>
                        <section class="blog-post-wrapper product-summery">
                            <div class="section-content section-title">
                                <h2 class="section-title-2 mb-3">@Model.Title</h2>
                                <div class="blog-post-info">
                                    <span>Ngày tạo: @Model.InsertedAt.ToString("dd/MM/yyyy")</span><br />
                                    Ngày hết hạn ưu đãi: <span style="font-weight:bold">@Model.ExpiredDate.ToString("dd/MM/yyyy")</span><br />
                                    <p style="font-size:18px">Mã ưu đãi: <span style="font-weight:bold">@Model.Code</span></p>
                                </div>
                                <p class="mb-5">
                                    @Html.Raw(Model.Content)
                                </p>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog Main Area End Here -->
</div>
