@model PagedList.PagedList<Voucher>
@{
    ViewBag.Title = "Ưu Đãi";
}
<div class="breadcrumbs-area position-relative">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-content position-relative section-content">
                    <h3 class="title-3">Ưu Đãi</h3>
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li>Ưu Đãi</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="shop-collection-area gray-bg pt-no-text pb-no-text">
    <div class="container custom-area">
        <div class="row mb-30">
            @if (!Model.Any())
            {
                <h3 class="text-center">Không tìm thấy ưu đãi nào.</h3>
            }
            else
            {
                foreach (var item in Model)
                {
                    <div class="card w-75">
                        <div class="card-body">
                            <h5 class="card-title">@item.Title</h5>
                            <a href="@Url.Action("Details", "Voucher", new {voucherId = item.Id})" class="btn btn-primary">Read more</a>
                        </div>
                    </div>
                }

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        @{
                            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                            ViewBag.PageRange = 3;
                        }
                        <li class="page-item">
                            <a href="@Url.Action("Index", "Voucher", new { pageIndex = 1, currentFilter = ViewData["CurrentFilter"] })"
                               class="btn page-link @prevDisabled"><<</a>
                        <li class="page-item">
                            <a href="@Url.Action("Index", "Voucher", new { pageIndex = (Model.PageNumber - 1 <= 0 ? 1 : Model.PageNumber - 1), currentFilter = ViewData["CurrentFilter"] })"
                               class="btn page-link @prevDisabled"><</a>
                        </li>
                        @for (int i = 1; i <= Model.PageCount; i++)
                        {
                            if (i >= Model.PageNumber - ViewBag.PageRange && i <= Model.PageNumber + ViewBag.PageRange)
                            {
                                <li class="page-item">
                                    <a class="@(i == Model.PageNumber ? "Current" : "") page-link"
                                       href="@Url.Action("Index", "Voucher", new { pageIndex = i, currentFilter = ViewData["CurrentFilter"] })">@i</a>
                                </li>
                            }
                        }
                        <li class="page-item">
                            <a href="@Url.Action("Index", "Voucher", new { pageIndex = (Model.PageNumber + 1 > Model.PageCount ? Model.PageCount : Model.PageNumber + 1), currentFilter = ViewData["CurrentFilter"] })"
                               class="btn page-link @nextDisabled">></a>
                        <li class="page-item">
                            <a href="@Url.Action("Index", "Voucher", new { pageIndex = (Model.PageCount), currentFilter = ViewData["CurrentFilter"] })"
                               class="btn page-link @nextDisabled">>></a>
                    </ul>
                </nav>
            }
        </div>
    </div>
</div>
