@model PagedList.PagedList<News>
@{
    ViewBag.Title = "Quản lý Tin Tức";
}

<div class="row">
    <div class="col-md-6">
        <a href="@Url.Action("Create", "NewsAdmin")" class="btn btn-primary float-left"><span class="fas fa-plus-square"></span></a>
    </div>
</div>

@if (!Model.Any())
{
    <h3 class="text-center">Không tìm thấy tin tức nào.</h3>
}
else
{
    <table class="table table-condensed table-bordered">
        <tr class="d-flex center-title">
            <th class="col-md-4">
                Tiêu Đề
            </th>
            <th class="col-md-4">
                Tóm Tắt
            </th>
            <th class="col-md-4">Quản Lý</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="d-flex center-title">
                <td class="col-md-4">
                    <a href="@Url.Action("Edit", new { id = item.Id })">
                        @item.Title
                    </a>
                </td>
                <td class="col-md-4">
                    @item.ShortDescription
                </td>
                <td class="col-md-4">
                    <form action="@Url.Action("Delete", "NewsAdmin", new { id = item.Id })" method="post">
                        <a href="@Url.Action("Edit", "NewsAdmin", new { id = item.Id })" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                        <button type="submit" onclick="return confirm('Bạn có muốn xóa tin tức @item.Title này?');" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                    </form>
                </td>
            </tr>
        }
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                ViewBag.PageRange = 3;
            }
            <li class="page-item">
                <a href="@Url.Action("Index", "NewsAdmin", new { pageIndex = 1, currentFilter = ViewData["CurrentFilter"] })"
                   class="btn page-link @prevDisabled"><<</a>
            <li class="page-item">
                <a href="@Url.Action("Index", "NewsAdmin", new { pageIndex = (Model.PageNumber - 1 <= 0 ? 1 : Model.PageNumber - 1), currentFilter = ViewData["CurrentFilter"] })"
                   class="btn page-link @prevDisabled"><</a>
            </li>
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                if (i >= Model.PageNumber - ViewBag.PageRange && i <= Model.PageNumber + ViewBag.PageRange)
                {
                    <li class="page-item">
                        <a class="@(i == Model.PageNumber ? "Current" : "") page-link"
                           href="@Url.Action("Index", "NewsAdmin", new { pageIndex = i, currentFilter = ViewData["CurrentFilter"] })">@i</a>
                    </li>
                }
            }
            <li class="page-item">
                <a href="@Url.Action("Index", "NewsAdmin", new { pageIndex = (Model.PageNumber + 1 > Model.PageCount ? Model.PageCount : Model.PageNumber + 1), currentFilter = ViewData["CurrentFilter"] })"
                   class="btn page-link @nextDisabled">></a>
            <li class="page-item">
                <a href="@Url.Action("Index", "NewsAdmin", new { pageIndex = (Model.PageCount), currentFilter = ViewData["CurrentFilter"] })"
                   class="btn page-link @nextDisabled">>></a>
        </ul>
    </nav>
}
